<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8">

  <title>Colors Shades</title>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <meta name="description" content=""/>
  <meta name="keywords" content=""/>

  <!-- <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/> -->

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">

  <script src="https://use.fontawesome.com/180480a52c.js"></script>

  <link href="./extensions/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="./styles/index.less" rel="stylesheet/less" type="text/css"/>

  <script src="./extensions/jquery/jquery.min.js"></script>

  <!-- LESS FOR CLIENT -->
  <script src="extensions/less/less.js" type="text/javascript"></script>
</head>
<body>
  <div class="popupunder alert alert-success fade in">
    <button type="button" class="close close-sm" data-dismiss="alert"><i class="glyphicon glyphicon-remove"></i></button>
    <p class="alert-text"></p>
  </div>

  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1><a href="./index.html"> Colors Shades</a></h1>
          <h3>Colors have no more secrets for you</h3>
        </div>
      </div>
    </div>
  </header>

  <div id="section-color" class="container">
    <div class="form-group">
      <div class="row">
        <div id="form_color_display" class="col-sm-offset-2 col-sm-1">
        </div>
        <div class="col-sm-6">
          <input id="form_color" class="form-control" required="required" name="color" placeholder="Paste your RGB or HEXADECIMAL" type="text">
        </div>
        <div class="col-sm-offset-0 col-sm-1 col-xs-offset-3 col-xs-6">
          <button type="button" id="form_submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="row">
        <div id="div_form_mode" class="col-sm-offset-4 col-sm-4">
        </div>
      </div>
    </div>
  </div>

  <section id="global-section">
    <div class="container">
      <div class="row">
        <div align="center">
          <button class="btn btn-default filter-button" data-filter="all">All</button>
          <button class="btn btn-default filter-button" data-filter="shades">Shades</button>
          <button class="btn btn-default filter-button" data-filter="triadic">Triadic</button>
          <button class="btn btn-default filter-button" data-filter="complementary">Complementary</button>
          <button class="btn btn-default filter-button" data-filter="tints">Tints</button>
        </div>
      </div>
      <div id="shades" class="color-line-type filter shades" >
        <h2 class="col-sm-12 subtitle">Shades</h2>
      </div>

      <div id="triadic" class="color-line-type filter triadic">
        <h2 class="col-sm-12 subtitle">Triadic</h2>
      </div>

      <div id="complementary" class="color-line-type filter complementary">
        <h2 class="col-sm-12 subtitle">Complementary</h2>
      </div>

      <div id="tints" class="color-line-type filter tints">
        <h2 class="col-sm-12 subtitle">Tints</h2>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p>Made by : Florian VIGNON - Pierre BELIN - A. E.A. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p>Check source code on <a href="https://gitlab.com/pierre.belin/colorsshades" target="_blank">Gitlab</a></p>
        </div>
      </div>
    </div>
  </footer>

  <script src="./extensions/clipboard/dist/clipboard.min.js"></script>

  <script>
  var clipboard  = new Clipboard(".color-case");
  </script>


  <script src="./extensions/bootstrap/js/bootstrap.min.js"></script>
  <script src="./js/color-tools.js"></script>
  <script src="./js/color-function.js"></script>
  <script src="./js/sanitizer.js"></script>
  <script src="./js/index.js"></script>
</body>
</html>
