//@font-main: 'Fira Sans Condensed', sans-serif;
@font-main: 'Julius Sans One', sans-serif;
@font-color: black;
body {
  font-family: @font-main;
}

.container {
  padding: 20px 0;
}

.popupunder{
    width: 300px;
	position:fixed;
	top: 10px;
	right: 10px;
	z-index: 10;
	border: 0;
	padding: 20px;
}
.popupunder.alert-success{
    border: 1px solid #198b49;
	background:#27AE60;
	color:#fff;
}
.popupunder .close{
	font-size: 10px;
	position:absolute !important;
	right: 2px;
	top: 3px;
}

header {
  text-align: center;
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  a {
    color: @font-color;
    &:hover, &:active, &:focus {
      color: @font-color;
      text-decoration: none;
    }
  }
  h3 {
    font-size: 20px;
  }
}

section {
  h2 {
    padding-bottom: 10px;
  }
}

#section-color {
  .row {
    padding: 10px 0;
  }
}

.color-name {
  text-align: center;
  padding: 10px 0;
}

.color-case {
  height: 150px;
  .radius;
  .copy-text {
    visibility:hidden;
  }
  &:hover {
    .copy-text {
      text-align: center;
      position: relative;
      font-weight: bold;
      top: 45%;
      visibility: visible;
      background-color: white;
    }
  }
}



#form_color_display {
  height: 34px;
  .radius;
}


footer {
  text-align: center;
}


// CLASS
.radius {
  border-radius: 10px;
}
